body{
    color: rgb(239, 159, 159);
    background: rgb(206, 230, 206);
    margin: 0px;
    font-family: "Gravitas One", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color: rgb(31, 38, 240);
}

.chamada{
    background: rgb(224, 11, 224);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top :50px;
}
.cotegoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid red;
}

.categoria h2{
    color: yellow;
}

